/mobile/CRX/PossoLer.pem

/API/HELP.md
/API/target/
/API/!.mvn/wrapper/maven-wrapper.jar
/API/!**/src/main/**/target/
/API/!**/src/test/**/target/

### STS ###
/API/.apt_generated
/API/.classpath
/API/.factorypath
/API/.project
/API/.settings
/API/.springBeans
/API/.sts4-cache

### IntelliJ IDEA ###
/API/.idea
/API/*.iws
/API/*.iml
/API/*.ipr

### NetBeans ###
/API/nbproject/private/
/API/nbbuild/
/API/dist/
/API/nbdist/
/API/.nb-gradle/
/API/build/
/API/!**/src/main/**/build/
/API/!**/src/test/**/build/

### VS Code ###
/API/.vscode/

### application.properties ###
/API/src/main/resources/application.properties