body
{
    background-color: #f7f7f7;
}


.btnsHeader
{
    height: 70px !important;
    width: 170px !important;
}

#btnGitHub
{
    background-color: #018789;
    color: white;
}

#btnGitHub:hover
{
    background-color: #026d6e;
}

#btnSobre
{
    background-color: blueviolet;
    color: #fff;
}


#btnSobre:hover
{
    background-color: rgb(116, 37, 190);
}


.subtitulo
{
    font-size: 25px !important;
    font-weight: 400;
    margin-top: 50px;
}


a:hover
{
    text-decoration: none;
}


.link-texto
{
    color: black;
}


video
{
    background-color: black;
}


#videoDesk
{
    width: 60%;
    height: 100%;
    margin-right: 50px;
}


#videoMobile
{
    width: 60%;
    margin-right: 50px;
}


#dicaTutorial
{
    display: none;
}

@media screen and (min-width: 280px) and (max-width: 575px) {
    #videoDesk
    {
        max-width: 420px;
        height: 330px;
    }
}

@media screen and (max-width: 759px) {
    .glide__arrows
    {
        display: none;
    }

    #dicaTutorial
    {
        display: block;
    }
}


#blockDownload
{
    margin-bottom: 130px;
}


.qtdDownloads
{
    font-size: 25px !important;
    font-weight: 300;
    margin-top: -30px;
    color: transparent;
    margin-top: 100px;
}


.qtdConteudos
{
    font-size: 25px !important;
    font-weight: 300;
    color: transparent;
}


#rowPerguntas
{
    margin-top: 20px;
}


.img_icons
{
    width: 40px;
    height: 40px;
    margin-top: -70px;
}


.marginHR
{
    margin-bottom: 50px;
}


#title_perguntas_frequentes
{
    margin-left: 20px;
}

#lottie-confete
{
    width: 400px;
    height: 100px;
    z-index: 4;
    display: none;
}


@media screen and (max-width: 349px)
{
    #lottie-confete
    {
        width: 280px;
        height: 100px;
        z-index: 4;
    }
}

@media screen and (min-width: 350px) and (max-width: 500px) {
    #lottie-confete
    {
        width: 350px;
        height: 100px;
        z-index: 4;
    }
}


@media screen and (max-width:991px)
{
    #title_perguntas_frequentes, #title_doacao
    {
        text-align: center;
    }

    #lottie_block_perguntas
    {
        display: none;
    }

    #rowPerguntas
    {
        margin-top: 80px;
    }
}


@media screen and (max-width: 575px)
{
    /* SOBRESCREVE CLASSE PADRAO BOOTSTRAP */
    .display-4
    {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
}


.small_Lead
{
    line-height: 30px;
    margin-bottom: 1rem;
    font-size: 1.05rem;
    font-weight: 300
}


.border-nav
{
    border: 1px solid #657ff3;
    border-radius: 5px;
}


.btnActive
{
    background-color: #007bff;
    color: #fff;
}

.btnActive:hover
{
    color: #fff;
}


.btnDisabled
{
    background-color: #d4d1d1;
    color: #000;
}


.borderMenu
{
    padding-top:40px;
    margin-top:50px !important;
    border: 1px solid #e0e0e0 !important;
}


#tituloTutorial
{
    margin-top: 25px; 
    margin-bottom: 0px !important;
    z-index: 5;
    display: inline !important;
}


.invertImage
{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media screen and (max-width: 329px)
{
    #right-lamp
    {
        display: none;
    }

    #left-lamp
    {
        display: none;
    }
}


/* SOBRESCREVE CLASSE PADRAO BOOTSTRAP */
.btn
{
    vertical-align: bottom;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    padding: .625rem 1.5rem .5rem;
    line-height: 1.5;
}


/* =-=-=-=--=--=-=-=-=-= CARROSSEL =-=-=-=--=--=-=-=-=-=*/

.glide__slide
{
    filter: blur(6px);
    opacity: .7;
    transition: 0.5s linear;
}

.glide__slide--active
{
    opacity: 1;
    filter: none;
    transform: scale(1.1);
}

/* SOBRESCREVE CLASSE NATIVA DO GLIDE CSS */
.glide__arrow
{
    color: black;
    border: none;
    background-color: #c1c1c1;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    padding: .625rem 1.5rem .5rem;
    /* border: 2px solid rgba(247, 5, 5, 0.829); */
}

.glide__arrow:hover
{
    background-color: #a3a2a2;
    /* border: 2px solid rgba(21, 5, 247, 0.829); */
}



/* =-=-=-=-=-=-=-=-=-=--=-=-= FLOAT BUTTON =-=-=-=-=-=-=--=-=-=-==-=-=-= */

#btnGotoTop 
{
    visibility: hidden;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #a1ff00; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    -webkit-box-shadow: 10px 5px 5px 0 rgb(0 0 0 / 20%), 10px 5px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 10px 5px 5px 0 rgb(0 0 0 / 20%), 10px 5px 10px 0 rgb(0 0 0 / 10%);

    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    opacity: 0;
}
  
#btnGotoTop:hover
{
    background-color: #82cc01; /* Add a dark-grey background on hover */
    transition: 0.2s linear;
}


/* ================== SKELETON GRADIENT LOADER ========================= */

.skeleton-loader 
{
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%
      ),
      lightgray;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
}

@keyframes shine {
    to {
        background-position: 100% 0, /* move highlight to right */ 0 0;
    }
}



/* ====================== DIV IDIOMAS ====================== */
#blocoIdioma
{
    position: absolute;
    top: 0%;
    width: 250px;
    z-index: 99; /* Make sure it does not overlap */
    right: 0.1px; /* Place the button 30px from the right */
    border: none; /* Remove borders */
    border-radius: 0px 0px 5px 5px;
    outline: none; /* Remove outline */
    background-color: #192027; /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 16px; /* Increase font size */
    -webkit-box-shadow: 10px 5px 5px 0 rgb(0 0 0 / 20%), 10px 5px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 10px 5px 5px 0 rgb(0 0 0 / 20%), 10px 5px 10px 0 rgb(0 0 0 / 10%);

    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

/* SWALL ALERT AVISO DE FÉRIAS*/

.popupAlertFerias
{
    width: 80% !important;
    height: 90% !important;
    margin: 0px 0px !important;
    white-space: pre-wrap;
}

.alertFerias
{
    width: 100% !important;
    height: 100% !important;
    margin: 0px 0px !important;
    white-space: pre-wrap;
    padding: unset !important;
}

.containerAlertFerias
{
    z-index: 99999 !important;
}

.headerContainerFerias
{
    margin-bottom: 40px;
}