/* ================================ MOBILE VIEW - 2 (<541px) ================================ */

.sidebar{
    position: fixed;
    top: 10px;
    left: 5px;
    width: 78px;
    height: 65px;
    background: #192027;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 99999;
    border-radius: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.sidebar.active{
    width: 240px;
    height: 100%;
    border-radius: 0px 5px 0px 0px;
    top: 0px;
    left: 0px;
    overflow-y: auto;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.logo_content .logo i{
    font-size: 20px;
    margin-left: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.sidebar .logo_content .logo{
    color: black;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active #btnMenu{
    left: 90%;
}

.logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btnMenu{
    position: absolute;
    color: black;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    fill: white;
}

.sidebar ul{
    margin-top: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
}

.sidebar.active ul{
    display: block;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    line-height: 35px;
    text-align: center;
    background: #192027;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: white;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul li a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover{
    background: #2b3844;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
}

.sidebar ul li i{
    height: 50px;
    min-height: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    fill: #a1ff00;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    color: white;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

#btnMenu:hover{
    cursor: pointer;
}

.nav_list{
    margin-left: -5px !important;
}

.links_name, .logo_name{
    display: block;
}

.wall_sidebar_open{
    width: 100%;
    height: 100%; 
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}




/* ================================ DESKTOP VIEW (>=541px) ================================ */

@media screen and (min-width: 541px) {

    /* body{
        position: relative;
        min-height: 100hv;
        width: 100%;
    } */

    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 78px;
        background: #192027;
        padding: 6px 14px;
        transition: all 0.5s ease;
        z-index: 99999;
        border-radius: 0px 5px 0px 0px;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    }

    .sidebar.active{
        width: 240px;
    }

    .sidebar.active .logo_content .logo{
        opacity: 1;
    }

    .logo_content .logo i{
        font-size: 20px;
        margin-left: 5px;
    }

    .logo_content .logo .logo_name{
        font-size: 20px;
        font-weight: 400;
        color: white;
    }

    .sidebar .logo_content .logo{
        color: black;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;
    }

    .sidebar.active #btnMenu{
        left: 90%;
    }

    .logo_name{
        font-size: 20px;
        font-weight: 400;
    }

    .sidebar #btnMenu{
        position: absolute;
        color: black;
        left: 50%;
        top: 6px;
        font-size: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translate(-50%);
        fill: white;
    }

    .sidebar ul{
        margin-top: 20px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: block;
    }

    .sidebar ul li{
        position: relative;
        height: 50px;
        width: 100%;
        margin: 0 5px;
        list-style: none;
        line-height: 50px;
    }

    .sidebar ul li .tooltip{
        position: absolute;
        left: 122px;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
        height: 35px;
        width: 122px;
        line-height: 35px;
        text-align: center;
        background: #192027;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0s;
        opacity: 0;
        pointer-events: none;
        display: block;
        color: white;
    }

    .sidebar.active ul li .tooltip{
        display: none;
    }

    .sidebar ul li:hover .tooltip{
        transition: all 0.5s ease;
        top: 50%;
        opacity: 1;
    }

    .sidebar ul li a{
        color: black;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        border-radius: 12px;
    }

    .sidebar ul li a:hover{
        background: #2b3844;
    }

    .sidebar ul li a i{
        height: 50px;
        min-width: 50px;
        border-radius: 12px;
        line-height: 50px;
        text-align: center;
        white-space: nowrap;
    }

    .page_content{
        position: relative;
        height: 100%;
        width: calc(100% - 78px);
        left: 78px;
        transition: all 0.5s ease;
    }

    /* .sidebar.active ~ .page_content{
        width: calc(100% - 240px);
        left: 240px;
    } */

    .sidebar ul li i{
        height: 50px;
        min-height: 50px;
        border-radius: 12px;
        line-height: 50px;
        text-align: center;
        fill: #a1ff00;
    }

    .sidebar .links_name{
        opacity: 0;
        pointer-events: none;
        color: white;
    }

    .sidebar.active .links_name{
        opacity: 1;
        pointer-events: auto;
        transition: all 0.5s ease;
    }

    #btnMenu:hover{
        cursor: pointer;
    }

    .nav_list{
        margin-left: -5px !important;
    }

    .links_name, .logo_name{
        display: block;
    }

    .wall_sidebar_open{
        width: 100%;
        height: 100%; 
        position: absolute; 
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
}



/* ================================ MOBILE VIEW - 1 (<541px) ================================ */

/* .sidebar{
    position: fixed;
    top: 10px;
    left: 5px;
    width: 78px;
    background: #192027;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 99999;
    border-radius: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.logo_content .logo i{
    font-size: 20px;
    margin-left: 5px;
}

.sidebar .logo_content .logo{
    color: black;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active #btnMenu{
    left: 50%;
}

.logo_name{
    display: none;
}

.sidebar #btnMenu{
    position: absolute;
    color: black;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    fill: white;
}

.sidebar ul{
    margin-top: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
    transition: all 0.5s ease;
}


.sidebar.active ul{
    display: block;
}


.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    line-height: 35px;
    text-align: center;
    background: #192027;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: white;
}

.sidebar ul li a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover{
    background: #2b3844;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
}

.sidebar ul li i{
    height: 50px;
    min-height: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    fill: #a1ff00;
}

.links_name{
    display: none;
} */